<h1>Todo</h1>
<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'todo.index' tagName="li"}}<a href="">List all</a>{{/link-to}} {{#link-to 'todo.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
  </ul>
</div>
{{outlet}}